@import "tailwindcss";

@layer components {
  .post-button {
    @apply rounded-full bg-[#1D9BF0] opacity-90 text-lg text-white py-3 px-4 hover:opacity-100 cursor-pointer;
  }
  .tab {
    @apply cursor-pointer hover:bg-[#161616] px-2 py-3 w-full text-center
     relative;
  }
  .active-tab {
    @apply cursor-pointer bg-[#161616] px-2 py-3 w-full text-center
     relative ;
  }
}

.tab::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  height: 4px;
  background-color: #1D9BF0;
  opacity: 0;
  transition: opacity 0.2s;
  @apply rounded-xl;
}

.tab:hover::before {
  opacity: 1;
}

.active-tab::before {
  opacity: 1;
}
